services:
  php:
    build: .
    container_name: php
    volumes:
      - .:/var/www/html
      - /var/www/html/vendor
      - /var/www/html/storage
    depends_on:
      - db

  nginx1:
    image: nginx:latest
    container_name: nginx1
    ports:
      - 8080:80
    depends_on:
      - php
    volumes:
      - ./:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf

  nginx2:
    image: nginx:latest
    container_name: nginx2
    ports:
      - 8081:80
    depends_on:
      - php
    volumes:
      - ./:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf

  vite:
    image: node:20
    container_name: vite
    working_dir: /app
    command: ["sh", "-lc", "npm install && npm run dev -- --host"]
    ports:
      - 5173:5173
    volumes:
      - .:/app
    depends_on:
      - php

  db:
    image: mysql:latest
    container_name: db
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=${DB_DATABASE}
    ports:
      - 3306:3306
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
